.footer {

	flex: 0 0 auto;
	padding-top: 32px; padding-bottom: 32px;
	padding-left: var(--container-padding); padding-right: var(--container-padding);
	@include _992 {
		padding-top: 40px; padding-bottom: 40px;
		padding-left: 80px; padding-right: 80px;
	}

	overflow: hidden;
	border-top: 1px solid #000;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		margin: -16px;

		& > * {
			padding: 16px;
		}
	}

	// .footer__copy

	&__copy {
		flex: 1 1 100%;
		text-align: center;
		@include _550 {
			text-align: left;
			flex: 1 1 auto;
		}

		font-size: 0.875rem;
		font-weight: 300;
		line-height: 200%;
	}

	// .footer__to-up

	&__to-up {

		display: flex;
		align-items: center;

		color: var(--dark);
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 200%;

		& svg {
			margin-left: 15px;
		}
	}
}
