.contact {

	flex: 1 1 auto;

	padding-top: 30px; padding-bottom: 80px;

	@include _992 {
		padding-top: 30px;
	}

	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include _768 {
			display: grid;
			grid-template-columns: 49.3% 50%;
			justify-content: stretch;
			& > * {
				align-self: center;
			}
		}

		@include _992 {
			padding-left: calc(50% - 480px);
			padding-right: calc(50% - 1064px);
		}
		

		min-height: 100%;
		
	}

	// .contact__col

	&__col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		

		/* &:last-child {
			justify-self: start;
		} */
	}

	// .contact__content

	&__content {
		max-width: 607px;
		padding-right: 40px; padding-bottom: 10px;

		& h1 {
			font-family: var(--title-font);
			font-size: 2.25rem;
			line-height: 133.333333%;
			@include _550 {
				font-size: 2.5rem;
				line-height: 100%;
			}
			
			@include _992 {
				font-size: 3rem;
				padding-bottom: 10px;
			}
			
			text-transform: uppercase;
		}

		& p {
			font-size: 1rem;
			line-height: 200%;
			padding-top: 20px;
			font-weight: 300;
			
			@include _992 {
				font-size: 1.125rem;
				padding-top: 10px;
			}
		}

		& ul {
			padding-top: 20px;
			@include _992 {
				padding-top: 15px;
			}
		}

		& li {
			@include _992 {
				padding-top: 10px;
			}
		}

		& a {
			color: var(--dark);
			font-weight: 300;
			line-height: 200%;
			font-size: 1.125rem;
			@include _992 {
				font-weight: 400;
				line-height: 150%;
			}
		}
	}

	// .contact__form

	&__form {
		max-width: 484px;
		margin: -12px 0;

		padding-top: 45px;

		/* @include _768 {
			padding-top: 90px;
		} */

		@include _992 {
			padding-top: 90px;
		}
	}

	// .contact__label

	&__label {
		display: flex;
		flex-direction: column;

		padding: 14px 0;
	}

	// .contact__name

	&__name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 150%;
	}

	// .contact__input

	&__input {
		margin-top: 5px;
		font-size: 1.0625rem;
		@include _992 {
			font-size: 1.125rem;
		}
		line-height: 150%;
		font-weight: 300;
		color: var(--dark);

		transition: color .3s ease;
		&::placeholder {
			opacity: 1;
			color: var(--dark);
			transition: opacity .3s ease;
		}
		&:focus {
			color: var(--black);
			&::placeholder {
				opacity: 0;
			}
		}
	}

	// .contact__select

	&__select {
		display: block;
		position: relative;

		width: 100%;
		margin-top: 5px;

		font-size: 1.0625rem;
		line-height: 150%;
		font-weight: 300;
		color: var(--dark);

		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			right: 0; top: 50%;
			transform: translate(0,-50%);
			width: 15px; height: 8px;
			background: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7.5 7L14 1' stroke='%231F1F1F' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
			center / contain no-repeat;
		}

		& select {
			width: 100%; padding-right: 20px;
			color: var(--dark);
			font-weight: 300;
			cursor: pointer;
			background: var(--white);
		}
	}

	// .contact__message

	&__message {
		margin-top: 5px;
		font-size: 1.0625rem;
		line-height: 150%;
		font-weight: 300;
		color: var(--dark);
		resize: none;
		max-width: 335px;
		height: 95px;

		transition: color .3s ease;
		&::placeholder {
			opacity: 1;
			color: var(--dark);
			transition: opacity .3s ease;
		}
		&:focus {
			color: var(--black);
			&::placeholder {
				opacity: 0;
			}
		}
	}

	// .contact__submit

	&__submit {
	}
}

