.start {

	min-height: var(--height-screen,100vh);
	@include _992 {
		min-height: calc(var(--height-screen,100vh) - 40px);
	}
	padding-top: var(--height-header,91px); padding-bottom: var(--height-header,91px);

	display: flex;
	align-items: center;

	// .start__bg

	&__bg {

		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		z-index: -1;
		user-select: none; pointer-events: none;
		background: var(--gray);
		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--dark);
			opacity: .1;
			z-index: 2;
		}

		// .start__bg--wrapper

		&--wrapper {
		}

		// .start__bg--slide

		&--slide {
			position: relative;
			height: 100%;
			
			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
				pointer-events: none;
			}
		}
	}

	// .start__nav

	&__nav {
		& ul {
			display: flex;
			flex-direction: column;
		}
		& a {
			display: block;
			font-family: var(--title-font);
			font-weight: 400;
			font-size: 1.75rem;
			line-height: 128.571429%;
			
			@include _768 {
				line-height: 105%;
				font-size: 3.5rem;
			}
			
			@include _992 {
				font-size: 4.5rem;
			}
			
			text-transform: uppercase;
			color: var(--gray);
			transition: color .3s ease;
			&._active {
				color: var(--white);
			}
		}
	}
}
