.blog {

	// .blog__filter

	&__filter {

		padding: 30px 0;
		text-align: center;
		
		@include _992 {
			border-bottom: 1px solid #000;
			text-align: left;
			padding: 50px 0;
		}

		// .blog__filter--wrapper

		&--wrapper {
			display: flex;
			flex-direction: column;
			
			@include _992 {
				flex-wrap: wrap;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
			}

			padding: 0;
		}

		// .blog__filter--legend

		&--legend {
			font-size: 1.25rem;
			font-family: var(--title-font);

			@include _550 {
				font-size: 1.35rem;
			}
			
			@include _992 {
				font-size: 1.5rem;
				padding: 10px 0;
			}
			
			line-height: 125%;
			text-transform: uppercase;
			color: var(--dark);
		}

		// .blog__filter--list

		&--list {

			line-height: 150%;
			color: var(--dark);
			text-transform: uppercase;
			
			@include _550 {
				font-size: 1.25rem;
				line-height: 125%;
				flex-wrap: wrap;
				flex-direction: row;
			}
			
			@include _992 {
				font-size: 1.5rem;
				padding: 0;
				border-top: 0; border-bottom: 0;
				margin: -7px -15px;
			}

			display: flex;
			flex-direction: column;

			margin: 30px 0 0 0; padding: 30px 0;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;

			& label {
				display: flex;
				align-items: center;
				justify-content: center;
				@include _992 {
					justify-content: stretch;
				}

				padding: 7px 15px;

				position: relative;
				cursor: pointer;

				font-family: var(--title-font);
				
				& input {
					position: absolute;
					left: 50%; top: 50%;
					width: 1px; height: 1px;
					margin: -1px;
					clip-path: inset(100%);
					clip: rect(0 0 0 0);
					overflow: hidden;
				}

				&:hover span {
					opacity: .7;
				}

				&:active span {
					opacity: .5;
				}

				& input:checked + span {
					color: var(--gray);
					opacity: 1;
				}

				& span {
					transition: color .3s ease, opacity .3s ease;
				}
			}
		}
	}

	// .blog__list

	&__list {
		padding-top: 50px;
		@include _992 {
			padding-top: 100px;
			grid-template-columns: 1fr 1fr;
			gap: 120px 30px;
		}

		@media (min-width: 2500px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		display: grid;
		grid-template-columns: 100%;
		gap: 60px 20px;
	}

	// .blog__item

	&__item {

		text-align: center;
		color: var(--dark);
		display: block;

		// .blog__item--image

		&--image {
			width: 100%; padding-top: 62.427746%;
			position: relative;
			min-height: 210px;
			background: var(--gray);

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: cover;
			}
		}

		// .blog__item--topic

		&--topic {
			font-size: 1.25rem;
			line-height: 150%;
			color: var(--gray);
			display: block;
			margin-top: 30px;
			font-weight: 500;

			@include _768 {
				font-size: 1.5rem;
			}
			
			@include _992 {
				margin-top: 50px;
				font-size: 1.75rem;
			}
		}

		// .blog__item--name

		&--name {
			display: block;
			font-size: 1.875rem;
			line-height: 114.285714%;
			margin-top: 20px;
			font-family: var(--title-font);
			text-transform: uppercase;
			transition: opacity .3s ease;
			@include _768 {
				font-size: 2rem;
			}
			
			@include _992 {
				margin-top: 35px;
				font-size: 2.625rem;
			}
		}

		
		&:hover &--name {
			opacity: 0.7;
		}
		
		&:active &--name {
			opacity: 0.5;
		}
	}

	// .blog__footer

	&__footer {
		padding-top: 30px;
		
		@include _768 {
			padding-top: 80px;
		}
		
		@include _992 {
			padding-top: 120px;
		}
	}

	// .blog__nav

	&__nav {

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		// .blog__nav--arrow

		&--arrow {
			display: flex;
			align-items: center;
			color: var(--dark);
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1rem;
			@media (min-width: 350px) {
				font-size: 1.125rem;
			}
			@include _768 {
				font-size: 1.25rem;
			}
			
			@include _992 {
				font-size: 1.625rem;
			}
			line-height: 115.384615%;

			transition: opacity .3s ease;
			&:hover {
				opacity: 0.7;
			}
			
			&:active {
				opacity: 0.5;
			}

			position: relative;

			&._prev {
				padding-left: 40px;
				order: 2;
				@include _992 {
					padding-left: 85px;
					order: 1;
				}
			}

			&._prev svg {
				position: absolute;
				left: 0; top: 50%;
				height: 40px; width: 10px;
				transform: translate(100%,-50%) rotate(-90deg);
				@include _992 {
					height: 64px; width: 20px;
					transform: translate(100%,-50%) rotate(-90deg);
				}
			}

			&._next {
				padding-right: 40px;
				order: 3;
				@include _992 {
					order: 3;
					padding-right: 85px;
				}
			}
			
			&._next svg {
				position: absolute;
				right: 0; top: 50%;
				height: 40px; width: 10px;
				transform: translate(-100%,-50%) rotate(90deg);
				@include _992 {
					height: 64px; width: 20px;
					transform: translate(-100%,-50%) rotate(90deg);
				}
			}
		}

		// .blog__nav--list

		&--list {
			flex: 1 1 100%;
			order: 1;
			padding-bottom: 30px;
			@include _992 {
				order: 2;
				flex: 1 1 auto;
				padding-bottom: 0;
			}

			display: flex;
			align-items: center;
			justify-content: center;

			margin: -5px -10px;

			& a {
				display: block;
				color: var(--dark);
				font-size: 1.125rem;
				line-height: 200%;
				padding: 5px 10px;
				transition: opacity .3s ease;
				&:hover {
					opacity: 0.7;
				}
				
				&:active {
					opacity: 0.5;
				}
			}
		}
	}
}
